[global]
data_path: resources/sim_data
embeddings_path: resources/embeddings

[fallback_similarity]
type: dice
ngram: 4
padding: false

[similarity_jaccard1]
type: jaccard
ngram: 1
padding: false

[similarity_jaccard2]
type: jaccard
ngram: 2
padding: false

[similarity_jaccard3]
type: jaccard
ngram: 3
padding: false

[similarity_jaccard4]
type: jaccard
ngram: 4
padding: false

[similarity_dice1]
type: dice
ngram: 1
padding: false

[similarity_dice2]
type: dice
ngram: 2
padding: false

[similarity_dice3]
type: dice
ngram: 3
padding: false

[similarity_dice4]
type: dice
ngram: 4
padding: false

[lemmatizer]
hunmorph_path: /home/eszter/sandbox/huntools_binaries
cache_file: /home/eszter/projects/4lang/data/hunmorph_cache.txt

[similarity_machine_longman]
type: machine
sim_types: links_jaccard|nodes_jaccard|links_contain|nodes_contain|0-connected|entities_jaccard
4langpath:  /home/eszter/projects/4lang
definitions_binary: %(4langpath)s/test/machines/simlex_test.pickle
graph_dir: %(4langpath)s/test/graphs/sts_longman
batch: false
expand: false

[similarity_machine_longman_expand]
type: machine
sim_types: links_jaccard|nodes_jaccard|links_contain|nodes_contain|0-connected|entities_jaccard
4langpath: /home/eszter/projects/4lang
definitions_binary: %(4langpath)s/data/machines/longman_firsts.pickle
graph_dir: %(4langpath)s/data/graphs/sts_longman
batch: true
expand: true

[similarity_machine_collins]
type: machine
sim_types: links_jaccard|nodes_jaccard|links_contain|nodes_contain|0-connected|entities_jaccard
4langpath: /home/eszter/projects/4lang
definitions_binary: %(4langpath)s/data/machines/collins_firsts.pickle
graph_dir: %(4langpath)s/data/graphs/sts_collins
batch: true
expand: false


[similarity_machine_collins_expand]
type: machine
sim_types: links_jaccard|nodes_jaccard|links_contain|nodes_contain|0-connected|entities_jaccard
4langpath: /home/eszter/projects/4lang
definitions_binary: %(4langpath)s/data/machines/collins_firsts.pickle
graph_dir: %(4langpath)s/data/graphs/sts_collins
batch: true
expand: true

[similarity_machine_wikt]
type: machine
sim_types: links_jaccard|nodes_jaccard|links_contain|nodes_contain|0-connected|entities_jaccard
4langpath: /home/eszter/projects/4lang
definitions_binary: %(4langpath)s/data/machines/wikt_firsts.pickle
graph_dir: %(4langpath)s/data/graphs/sts_wikt
batch: true
expand: false

[similarity_machine_wikt_expand]
type: machine
sim_types: links_jaccard|nodes_jaccard|links_contain|nodes_contain|0-connected|entities_jaccard
4langpath: /home/eszter/projects/4lang
definitions_binary: %(4langpath)s/data/machines/wikt_firsts.pickle
graph_dir: %(4langpath)s/data/graphs/sts_wikt
batch: true
expand: true

[train_data]
#ws353: combined.tab
#MEN: MEN_dataset_natural_form_full
simlex: SimLex_test.txt

[embeddings]
#word2vec: GoogleNews-vectors-negative300.bin
#huang: combined.txt
#senna: combined.txt

[machines]
longman: longman
#longman_expand: longman_expand
#wikt: wikt
#collins: collins

[characters]
ns: 4
types: jaccard,dice
enabled: false
